* {
    box-sizing: border-box;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

html {
    font-size: 1vw;
    font-family: monospace;
}

body {
    /* padding: 30px; */
    width: 100vw;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

iframe {
    height: 30vh !important;
}

video {
    margin: 0 auto;
}

.section {
    flex: 1;
    padding: 30px;
    flex-shrink: 0;
    height: 100vh;
    overflow-y: auto;
}

.section.infos {
    padding-right: 40px;
    z-index: 2;
    -webkit-box-shadow: 1px 0px 20px 8px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 0px 20px 8px rgba(0,0,0,0.6);
    box-shadow: 1px 0px 20px 8px rgba(0,0,0,0.6);
}

.section.proto,
.section.illu {
    background-color: #30303f;
    color: #eee;
}
.section.illu {
    border-left: 1px solid #eee;
}

h1 {
    font-size: 5rem;
    margin: 0px;
    margin-bottom: 15px;
}

.sub-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hexagons0 img {
    width: 80%;
    margin: 20px 11%;
}

.hexagons img {
    width: 50%;
    margin: 20px 11%;
}

.pt-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.pt-item img {
    display: block;
    width: 50px;
    flex-shrink: 0;
    margin-right: 15px;
}

.living-labs a{
     color: #58809f; 
     text-decoration: none;
     font-size: 2vw;
    }
.living-labs a:visited{
        color: #f97c7a; 
        text-decoration: none;
        font-size: 2vw;
       }
.AquaHF{
    background-color: #65c2bd;
    border-top: 25px solid #65c2bd;
    border-left: 25px solid #65c2bd;
    border-right: 25px solid #65c2bd;
    border-bottom: 25px solid #65c2bd;
    color: #30303f;
}

.ReportAqua{
    background-color: #7d78a3;
    border-top: 25px solid #7d78a3;
    border-left: 25px solid #7d78a3;
    border-right: 25px solid #7d78a3;
    border-bottom: 25px solid #7d78a3;
}

.ExplorAqua{
    background-color:         #ffc1a4;
    border-top: 25px solid    #ffc1a4;
    border-left: 25px solid   #ffc1a4;
    border-right: 25px solid  #ffc1a4;
    border-bottom: 25px solid #ffc1a4;
    color: #30303f;
}

.IncubAqua{
    background-color: #58809f;
    border-top: 25px solid #58809f;
    border-left: 25px solid   #58809f;
    border-right: 25px solid  #58809f;
    border-bottom: 25px solid #58809f;
}

.ManagAqua{
    background-color:         #fff;
    border-top: 25px solid    #fff;
    border-left: 25px solid   #fff;
    border-right: 25px solid  #fff;
    border-bottom: 25px solid #fff;
    color: #30303f;
}



@media screen and (max-width: 992px) {
    html {
        font-size: 10pt;
    }

    body {
        display: block;
    }

    .section {
        padding: 10px;
        height: auto;
    }

    .section.illu {
        border-left: 0px;
    }

    h1 {
        font-size: 3rem;
    }

}



/* SCROLLBAR  */

*::-webkit-scrollbar {
  width: 10px;
}
 
*::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
 
*::-webkit-scrollbar-thumb {
  background-color: #6771ff;
  outline: 1px solid slategrey;
}
